<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
    //<!--
        document.oncontextmenu = new Function("return false");
    //-->
    </script>
<title><%= title %></title>

<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/Script/function.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="/Style/style.css"></script>


<style>
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
	font-family: 'Pacifico', cursive;
	background-image: url(https://images8.alphacoders.com/719/719671.jpg);
	background-repeat: no-repeat;
    background-position: center;
	overflow-x: hidden;
}
	.ui-helper-hidden-accessible{
	display:none;
}

.content{
	width: 80vw;
	height: 100vh;
	margin-left: 15vw;
	text-align: : center;

}

#demo{
	border-radius: 3px;
		border: 1px solid black;
		padding: 10px;
		width: 100%;
		height: 35%;
		overflow-y: auto;
		margin-top: 20px;
		color:#FFF;;
		background-color: rgba(0, 0, 0, 0.7);

}

.lobby{
		border: 1px solid black;
		padding: 20px;
		color:#FFF;
		background-color: rgba(0, 0, 0, 0.7);
}

.flag{
	width:90%;
	height: 300px;
}

.side-bar{
	position:fixed;
	top:20vh;
	left: 1vw;
	width: 13vw;
}

td{
	width:100px;
	overflow: hidden;
}

#ready{
	margin-top:20px;
}

.surrend{
	display: none;
}

#flag{
	-webkit-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.75);
position: relative;
	left:50%;
	margin-left: -200px;
}

.ui-autocomplete {
	height: 70px;
	width: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
	border:  1px solid black;
}

.ui-menu-item{
	font-size: 14px;
}

h1{
	width: 400px;
	position: relative;
	left: 50%;
	margin-left: -200px;
}
</style>
<script>
// On ecoute le post websocket
var socket = io.connect('http://localhost:8080');
// On demande le pseudo au visiteur...
var pseudo = prompt('Quel est votre pseudo ?');
// Et on l'envoie avec le signal "petit_nouveau" (pour le différencier de "message")
socket.emit('petit_nouveau', pseudo);
// On affiche une boîte de dialogue quand le serveur nous envoie un "message"
socket.on('message', function(message) {
//alert('Le serveur a un message pour vous : ' + message);
document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>"+message;
var elem = document.getElementById('demo');
elem.scrollTop = elem.scrollHeight;
});

socket.on('showSurrend', function() {
//alert('Le serveur a un message pour vous : ' + message);
$(".surrend").show();
});

socket.on('answer', function(message) {
//alert('Le serveur a un message pour vous : ' + message);
document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>Tout le monde donne sa langue au chat !<br/> La réponse était "+message;
var elem = document.getElementById('demo');
elem.scrollTop = elem.scrollHeight;
});

socket.on('newPlayer', function(joueurs) {
//alert('Le serveur a un message pour vous : ' + message);
	$("#lobbyBody").html("");
	for (i = 0, len = joueurs.length; i < len; ++i) {
		var row = document.createElement("tr");
		  var player = document.createElement("td");
	var playerScore = document.createElement("td");
	$(player).attr('id', joueurs[i].name+"name");
	$(playerScore).attr('id', joueurs[i].score+"Score");

	$(player).html(joueurs[i].name);
	if(joueurs[i].ready){
		$(playerScore).html("Pret !");
	}else{
		$(playerScore).html("En attente ...");
	}


	$("#lobbyBody").append(row);
	$(row).append(player);
	$(row).append(playerScore);
	}
});

socket.on('changeScore', function(joueurs) {
//alert('Le serveur a un message pour vous : ' + message);
	$("#lobbyBody").html("");
	for (i = 0, len = joueurs.length; i < len; ++i) {

	var row = document.createElement("tr");
		  var player = document.createElement("td");
	var playerScore = document.createElement("td");
	$(player).attr('id', joueurs[i].name+"name");
	$(playerScore).attr('id', joueurs[i].score+"Score");

	$(player).html(joueurs[i].name);
	$(playerScore).html(joueurs[i].score);


	$("#lobbyBody").append(row);
	$(row).append(player);
	$(row).append(playerScore);
	}
});

socket.on('winner', function(nameWinner, joueurs) {
//alert('Le serveur a un message pour vous : ' + message);
	$("#demo").html(document.getElementById("demo").innerHTML+"<br/>"+nameWinner+" a gagné la partie ! ");
	var elem = document.getElementById('demo');
  elem.scrollTop = elem.scrollHeight;
	$("#lobbyBody").html("");
	for (i = 0, len = joueurs.length; i < len; ++i) {
		var row = document.createElement("tr");
		  var player = document.createElement("td");
	var playerScore = document.createElement("td");
	$(player).attr('id', joueurs[i].name+"name");
	$(playerScore).attr('id', joueurs[i].score+"Score");

	$(player).html(joueurs[i].name);
	if(joueurs[i].ready){
		$(playerScore).html("Pret !");
	}else{
		$(playerScore).html("En attente ...");
	}


	$("#lobbyBody").append(row);
	$(row).append(player);
	$(row).append(playerScore);
	}
	$(".surrend").hide();
	$("#ready").show();
});

socket.on('newGame', function(flag) {
//alert('Le serveur a un message pour vous : ' + message);
//document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>flag :"+flag+" et name"+name;
$("#flag").attr("src", flag);
});
function sendMessage() {

	message = document.getElementById("textfield_message").value;
	document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/><strong>Moi </strong>"+message;
	var elem = document.getElementById('demo');
  elem.scrollTop = elem.scrollHeight;
	socket.emit('message', message);
	$("#textfield_message").val("");
};
function isReady() {
	document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>Vous êtes prêt !";
	var elem = document.getElementById('demo');
  elem.scrollTop = elem.scrollHeight;
	socket.emit('ready');
	$("#ready").hide();
};

function surrend() {
	document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>Vous donnez votre langue au chat !";
	var elem = document.getElementById('demo');
  elem.scrollTop = elem.scrollHeight;
	$(".surrend").hide();

	socket.emit('surrend');

};
</script>
</head>
<body onKeyPress="if (event.keyCode == 13) sendMessage()" >
	<div class="content">
		<h1  style="font-size: 55px;">World Quizz <img src="https://lh3.googleusercontent.com/qtFiw5qHmpXNDqQZ5obyu8W_4f1X_39rURMCQRp_qSpKWOUEwRpzYKoOoulo32UiWYKLh3OMByj-Qlyro3q4RtXbx7IwcAlMwGrulYjMW8vzjZ0C8B3aFKdJNCGGgpqTyI7y6sZeXo8" width="100" style="position: relative; left:50%; margin-left: -200px;"></h1>
		<div class="flag"><img id="flag" src="" width="400" alt=""/></div>

		<p id="demo" style="font-size: 20px"></p>
		<div class="input-group">
		<input class="form-control" type="text" id="textfield_message" placeholder="Votre réponse">
		<div class="input-group-append">
		<button class="btn btn-primary" onclick="sendMessage()">Envoyer le message</button>
		<button class="btn btn-danger surrend" onclick="surrend()">Je donne ma langue au chat</button>
		</div>
		</div>


	</div>

	<div class="side-bar">
		<table class="lobby">
			 <thead>
				<tr>
					<th scope="col">Player</th>
					<th scope="col">Score</th>
				</tr>
			</thead>
			<tbody id="lobbyBody">
			</tbody>
		</table>
		<button id="ready" class="btn btn-success" onclick="isReady()">Pret !</button>
	</div>

</body>
</html>
