<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
    //<!--
        document.oncontextmenu = new Function("return false");
    //-->
    </script>
<title><%= title %></title>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/Script/function.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="/Style/style.css"></script>


<style>
	.ui-helper-hidden-accessible{
	display:none;
}

.content{
	width: 80vw;
	margin-left: 15vw;
	text-align: : center;

}

#demo{
		border: 1px solid black;
		padding: 10px;
		width: 100%;
		height: 40vh;
		overflow-y: scroll;
		margin-top: 20px;
}

.lobby{
		border: 1px solid black;
		padding: 10px;
}

.flag{
	width:100%;
}

.side-bar{
	position:fixed;
	top:20vh;
	left: 20px;
}

#ready{
	margin-top:20px;
}

.surrend{
	display: none;
}
</style>
<script>
// On ecoute le post websocket
var socket = io.connect('http://localhost:8080');
// On demande le pseudo au visiteur...
var pseudo = prompt('Quel est votre pseudo ?');
// Et on l'envoie avec le signal "petit_nouveau" (pour le différencier de "message")
socket.emit('petit_nouveau', pseudo);
// On affiche une boîte de dialogue quand le serveur nous envoie un "message"
socket.on('message', function(message) {
//alert('Le serveur a un message pour vous : ' + message);
document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>"+message;
});

socket.on('showSurrend', function() {
//alert('Le serveur a un message pour vous : ' + message);
$(".surrend").show();
});

socket.on('answer', function(message) {
//alert('Le serveur a un message pour vous : ' + message);
document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/> La réponse était "+message;
});

socket.on('newPlayer', function(joueurs) {
//alert('Le serveur a un message pour vous : ' + message);
	$("#lobbyBody").html("");
	for (i = 0, len = joueurs.length; i < len; ++i) {
		var row = document.createElement("tr");
		  var player = document.createElement("td");
	var playerScore = document.createElement("td");
	$(player).attr('id', joueurs[i].name+"name");
	$(playerScore).attr('id', joueurs[i].score+"Score");

	$(player).html(joueurs[i].name);
	if(joueurs[i].ready){
		$(playerScore).html("Pret !");
	}else{
		$(playerScore).html("En attente ...");
	}
	

	$("#lobbyBody").append(row);
	$(row).append(player); 
	$(row).append(playerScore); 
	}
});

socket.on('changeScore', function(joueurs) {
//alert('Le serveur a un message pour vous : ' + message);
	$("#lobbyBody").html("");
	for (i = 0, len = joueurs.length; i < len; ++i) {

	var row = document.createElement("tr");
		  var player = document.createElement("td");
	var playerScore = document.createElement("td");
	$(player).attr('id', joueurs[i].name+"name");
	$(playerScore).attr('id', joueurs[i].score+"Score");

	$(player).html(joueurs[i].name);
	$(playerScore).html(joueurs[i].score);
	

	$("#lobbyBody").append(row);
	$(row).append(player); 
	$(row).append(playerScore); 
	}
});

socket.on('winner', function(nameWinner, joueurs) {
//alert('Le serveur a un message pour vous : ' + message);
	$("#demo").html(nameWinner+" a gagné la partie ! ");
	$("#lobbyBody").html("");
	for (i = 0, len = joueurs.length; i < len; ++i) {
		var row = document.createElement("tr");
		  var player = document.createElement("td");
	var playerScore = document.createElement("td");
	$(player).attr('id', joueurs[i].name+"name");
	$(playerScore).attr('id', joueurs[i].score+"Score");

	$(player).html(joueurs[i].name);
	if(joueurs[i].ready){
		$(playerScore).html("Pret !");
	}else{
		$(playerScore).html("En attente ...");
	}
	

	$("#lobbyBody").append(row);
	$(row).append(player); 
	$(row).append(playerScore); 
	}
	$("#ready").show();
});

socket.on('newGame', function(flag) {
//alert('Le serveur a un message pour vous : ' + message);
document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>flag :"+flag+" et name"+name;
$("#flag").attr("src", flag);
});
function sendMessage() {

	message = document.getElementById("textfield_message").value;
	document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>[moi]"+message;
	socket.emit('message', message);
};
function isReady() {
	document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>Vous êtes prêt !";
	socket.emit('ready');
	$("#ready").hide();
};

function surrend() {
	document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>Vous donnez votre langue au chat !";
	$(".surrend").hide();

	socket.emit('surrend');

};
</script>
</head>
<body>
	<div class="content">
		<h1>World Quizz</h1>
		<div class="flag"><img id="flag" src="" width="600" height="400" alt="Matchmaking..."/></div>
		
		<p id="demo"></p>
		<input type="text" id="textfield_message" placeholder="Votre réponse">
		<button class="btn btn-primary" onclick="sendMessage()">Envoyer le message</button>
		<button class="btn btn-danger surrend" onclick="surrend()">Je donne ma langue au chat</button>

		<div class="side-bar">
			<table class="lobby">
				 <thead>
			    <tr>
			      <th scope="col">Player</th>
			      <th scope="col">Score</th>
			    </tr>
			  </thead>
			  <tbody id="lobbyBody">
			  </tbody>
			</table>
			<button id="ready" class="btn btn-success" onclick="isReady()">Pret !</button>
		</div>
			
	</div>
	
</body>
</html>