<!DOCTYPE html>
<html lang="en">
<head>
<title><%= title %></title>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/Script/function.js"></script>

<style>
	#demo{
		border: 1px solid black;
		padding: 10px;
		width: 400px;
		height: 100px;
		overflow-y: scroll;
	}
	.lobby{
		border: 1px solid black;
		padding: 10px;
		width: 200px;
	}
</style>
<script>
// On ecoute le post websocket
var socket = io.connect('http://localhost:8080');
// On demande le pseudo au visiteur...
var pseudo = prompt('Quel est votre pseudo ?');
// Et on l'envoie avec le signal "petit_nouveau" (pour le différencier de "message")
socket.emit('petit_nouveau', pseudo);
// On affiche une boîte de dialogue quand le serveur nous envoie un "message"
socket.on('message', function(message) {
//alert('Le serveur a un message pour vous : ' + message);
document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>"+message;
});

socket.on('newPlayer', function(joueurs) {
//alert('Le serveur a un message pour vous : ' + message);
	$(".lobby").html("");
	for (i = 0, len = joueurs.length; i < len; ++i) {
		  var player = document.createElement("div");
	var playerScore = document.createElement("p");
	$(player).attr('id', joueurs[i].name+"name");
	$(playerScore).attr('id', joueurs[i].score+"Score");

	$(player).html(joueurs[i].name);
	if(joueurs[i].ready){
		$(playerScore).html("Pret !");
	}else{
		$(playerScore).html("En attente ...");
	}
	

	$(".lobby").append(player);
	$(player).append(playerScore);  
	}
});

socket.on('changeScore', function(joueurs) {
//alert('Le serveur a un message pour vous : ' + message);
	$(".lobby").html("");
	for (i = 0, len = joueurs.length; i < len; ++i) {
		  var player = document.createElement("div");
	var playerScore = document.createElement("p");
	$(player).attr('id', joueurs[i].name+"name");
	$(playerScore).attr('id', joueurs[i].score+"Score");

	$(player).html(joueurs[i].name);
	$(playerScore).html(joueurs[i].score);

	$(".lobby").append(player);
	$(player).append(playerScore);  
	}
});

socket.on('winner', function(nameWinner, joueurs) {
//alert('Le serveur a un message pour vous : ' + message);
	$("#demo").html(nameWinner+" a gagné la partie ! ");
	$(".lobby").html("");
	for (i = 0, len = joueurs.length; i < len; ++i) {
		  var player = document.createElement("div");
	var playerScore = document.createElement("p");
	$(player).attr('id', joueurs[i].name+"name");
	$(playerScore).attr('id', joueurs[i].score+"Score");

	$(player).html(joueurs[i].name);
	if(joueurs[i].ready){
		$(playerScore).html("Pret !");
	}else{
		$(playerScore).html("En attente ...");
	}
	

	$(".lobby").append(player);
	$(player).append(playerScore);  
	}
	$("#ready").show();
});

socket.on('newGame', function(flag) {
//alert('Le serveur a un message pour vous : ' + message);
document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>flag :"+flag+" et name"+name;
$("#flag").attr("src", flag);
});
function sendMessage() {

	message = document.getElementById("textfield_message").value;
	document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>[moi]"+message;
	socket.emit('message', message);
};
function isReady() {
	document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML+"<br/>Vous êtes prêt !";
	socket.emit('ready');
	$("#ready").hide();
};
</script>
</head>
<body>
<h1>World Quizz</h1>
<img id="flag" src="" width="600" height="400" alt="Matchmaking..."/>
<input type="text" id="textfield_message" placeholder="mon message">
<button onclick="sendMessage()">Envoyer le message</button>
<button onclick="nextGame()">Nouvelle partie</button>
<p id="demo"></p>
<div class="lobby">
	
</div>
<button id="ready" onclick="isReady()">Pret !</button>
</body>
</html>